<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ddwucom.mobile.final_project.ma02_20170969">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/api_key" />

        <activity
            android:name=".ToDo.AllToDoActivity"
            android:label="AllToDoActivity"></activity>

        <activity
            android:name=".ToDo.SearchToDoActivity"
            android:label="SearchToDoActivity"></activity>

        <activity
            android:name=".MapAPI.SearchMapActivity"
            android:label="SearchMapActivity"></activity>

        <activity
            android:name=".ToDo.InsertToDoActivity"
            android:label="InsertToDoActivity"></activity>

        <activity
            android:name=".ToDo.UpdateToDoActivity"
            android:label="UpdateActivity"></activity>

        <activity
            android:name=".BlogAPI.BlogSearchActivity"
            android:label="BlogSearchActivity"></activity>

        <activity
            android:name=".FavPlace.AllFavPlaceActivity"
            android:label="AllFavPlaceActivity"></activity>

        <activity
            android:name=".FavPlace.InsertFavPlaceActivity"
            android:label="InsertFavPlaceActivity"></activity>
    </application>
</manifest>